/* http://meyerweb.com/eric/tools/css/reset/ v2.0嚚�20110126License: none (public domain)
css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #3D1101;
	background: #efe9e7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #3D1101;
}
p{
	line-height: 1.5;
	font-family: "Microsoft JhengHei", sans-serif;
}
/*css rest end*/

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 40px;
}
.flex{
	display: flex;
}
.pd{
	padding: 0 40px;
}
@media (max-width:767px){
	.container{
		max-width: 767px;
		margin: 0 auto;
		padding: 0;
	}
	.pd{
		padding: 0 13px;
	}
}
/*header*/
.header{
	background: rgba(0,0,0,0.75);
	padding: 16px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.showmenu{
	display: none;
}
.nav{
	justify-content: space-between;
	align-items: center;
}
.menu>li>a{
	font-size: 16px;
	color: #fff;
	padding: 16px;
}
.menu>li>a:hover{
	background: rgba(255, 255, 255, 0.6);
}
@media (max-width:767px){
	.menu{
		max-height: 0;
		overflow: hidden;
		position: absolute;
		top: 58px;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	.showmenu{
		display: block;
		position: absolute;
		top: 16px;
		right: 16px;
		font-size: 24px;
	}
	.showmenu>a{
		color: #fff;
	}
	.menu.menu-show{
		max-height: 500px;
		background: rgba(0,0,0,0.75);
	}
	.menu>li>a{
		display: block;
		height: 48px;
	}
}
/*banner*/
.banner{
	background: url(../img/header_desktop.png) no-repeat center;
	background-color: #100100;
	height: 420px;
	color: #fff;
	align-items: center;
}
.banner-text{
	background: rgba(0,0,0,0.35);
	text-align: center;
	padding: 20px;
}
.banner-text>h1{
	font-size: 36px;
	margin-bottom: 20px;
}
.banner-text>p{
	font-size: 16px;
}
@media (max-width:767px){
	.banner{
		background: url(../img/header_mobile.png) no-repeat center;
		background-color: #100100;
	}
}
/*feature*/
.feature{
	background: #efe9e7;
}
.feature_title{
	padding-top: 50px;
	padding-bottom: 30px;
}
.feature_title::after{
	content: "";
	width: 460px;
	height: 1px;
	background: #979797;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -36px;
}
.feature h2{
	font-size: 24px;
	text-align: center;
	line-height: 1.5;
	display: block;
	background: #efe9e7;
	width: 220px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.feature_content{
	justify-content: space-around;
	padding-bottom: 50px;
}
.feature_content>li{
	width: 260px;
	text-align: center;
}
.feature_content>li>h3{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}
.feature_content>li>p{
	text-align: left;
	font-size: 16px;
}
@media (max-width:767px){
	.feature_title::after{
		display: none;
	}
	.feature_content{
		flex-direction: column;
	}
	.feature_content>li{
		margin-bottom: 30px;
		width: 100%;
		padding: 0 30px;
	}
}
/*chef-info*/
.chef-info{
	background: #3D1101;
	color: #fff;
}
.chef-info img{
	margin-right:42px;
	width: 50%;
}
.chef_flex{
	display: flex;
	align-items: center;
}
.chef-info_text{
	width: 50%;
}
.chef-info_text h2{
	font-size: 20px;
	line-height: 2;
}
.chef-info_text h3{
	font-size: 16px;
}
.chef-info_text p{
	margin:16px 0;
}
@media (max-width:767px){
	.chef_flex{
		flex-direction: column;
	}
	.chef-info img{
		margin-right:0;
		margin-bottom: 30px;
		width: 100%;
	}
	.chef-info_text{
		width: 100%;
		padding: 0 30px 30px;
	}
}
/*comment*/
.comment{
	padding: 50px 0;
	background: #efe9e7;
}
.comment h3{
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}
.comment_content{
	justify-content: space-between;
}
.comment_content>li{
	display: flex;
	align-items: flex-start;
}
.comment_text{
	margin-left: 15px;
}
.comment_text h4{
	font-size: 18px;
	padding: 24px 0;
}
.comment_text p{
	max-width: 220px;
	height: 96px;
	overflow: hidden;
	margin-bottom: 16px;
}
.comment_text span{
	display: flex;
	flex-direction: row-reverse;
	color: rgba(61,17,0,0.75);
}
@media (max-width:767px){
	.comment_content{
		flex-direction: column;
		align-items: center;
		padding: 0 10px 30px;
	}
	.comment_text p{
		max-width: 100%;
	}
}
/*contact*/
.contact{
	background: #FAFAFA;
	padding: 50px 0;
}
.contact h3{
	font-size: 24px;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 38px;
}
.contact_content{
	justify-content: space-between;
}
.map-area{
	width: 48%;
	overflow: hidden;
	margin-right: 2%;
}
.reserve_form{
	width: 48%;
	font-size: 14px;
}
.reserve_form > label,input{
	display: block;
	width: 100%;
}
.reserve_form input{
	font-size: 16px;
	padding: 5px;
	margin-top: 6px;
	margin-bottom: 12px;
	border: 1px #cccccc solid;
	border-radius: 3px;
}
.vegan{
	margin-bottom: 30px;
}
.vegan span{
	display: block;
	padding: 12px 0;
}
.vegan_text,.vegan_radio{
	display: inline;
	width: 14px;
}
.vegan_radio{
	margin-right: 36px;
}
.form_button{
	flex-direction: row-reverse;
}
.form_button button{
	border: none;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	width: 70px;
	padding: 6px 0;
	cursor: pointer;
}
.btn_submit{
	background: #F56C23;
	margin-left: 11px;
}
.btn_submit:hover{
	background: #F52B24;
}
.btn_cancel{
	background:#9D9D9D;
}
.btn_cancel:hover{
	background: #5B5B5B;
}
@media (max-width:767px){
	.contact_content{
		flex-direction: column;
		align-items: center;
		padding: 0 10px;
	}
	.map-area{
		width: 100%;
		margin-right: 0;
		padding-bottom:30px;
	}
	.map-area>img{
		margin: 0 auto;
		display: block;
	}
	.reserve_form{
		width: 100%;
	}
	.vegan{
		margin-bottom: 10px;
	}
}
/*footer*/
.footer{
	background: #efe9e7;
	padding: 50px 0;
}
.footer-content{
	justify-content: space-between;
}
.footer-text{
	display: flex;
	width: 70%;
}
.footer-text>li{
	margin-right: 20px;
	width: 50%;
}
.footer-text>li>ul>li{
	line-height: 1.5;
	list-style: disc;
	list-style-position: inside;
}
.footer-text h4{
	font-size: 24px;
	margin-bottom: 16px;
}
.footer-social-link{
	display: flex;
	flex-direction: row-reverse;
}
.footer-social-link i{
	margin-left: 12px;
	margin-top: 22px;
}
.fa-twitter-square{
	color: #41ABE1;
}
.fa-google-plus-square{
	color: #DB4437;
}
.fa-facebook-square{
	color: #3A5795;
}
.footer-social-link i:hover{
	filter: brightness(1.3);
}
@media (max-width:767px){
	.footer-content{
		flex-direction: column;
		padding: 0 10px;
	}
	.footer-text{
		flex-direction: column;
		width: 100%;
	}
	.footer-text>li{
		width: 100%;
		margin-bottom:30px;
	}
	.footer-link{
		text-align: right;
	}
}

/*--cart--*/
/*sildelist*/
.cart-wrap{
	padding: 48px 0;
}
.side-list{
	margin-right: 20px;
}
.side-list h2{
	font-size: 20px;
	margin-bottom: 16px;
	padding: 0 8px;
}
.fa-leaf{
	margin-right: 15px;
}
.side-list-ul a{
	width: 220px;
	display: block;
	font-size: 16px;
	line-height: 2.5;
	border-bottom: 1px #3D1101 solid;
	padding: 0 8px;
}
.side-list-ul a:hover{
	background: #3D1101;
	color: #fff;
}
@media (max-width:767px){
	.cart-wrap{
		display: inline-block;
		padding: 0 18px;
		width: 100%;
	}
	.side-list{
		margin: 52px 0 23px 0;
	}
	.side-list-ul a{
		width: 100%;
	}
}
/*cartcontent*/
.top-bar{
	justify-content: space-between;
	margin-bottom: 26px;
}
.search-bar{
	padding:0 20px;
	width: 70%;
	height: 36px;
}
.search-bar input{
  height: 36px;
  background: transparent;
  border: 2px solid #3d1101;
}
.search-btn{
	width: 36px;
	height: 36px;
	border: 0;
	background: #3D1101;
	color: #fff;
	cursor: pointer;
}
.fa-search{
	font-size: 20px;
}
.top-bar-link{
	padding: 10px 0;
}
.top-bar-link a:hover{
	color: gray;
}
.shopping-cart-number{
	display: inline-block;
	background: red;
	color: #fff;
	height: 16px;
	width: 16px;
	line-height: 16px;
	font-size: 12px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: -10px;
	left: -10px;
}
@media (max-width:767px){
	.top-bar{
		flex-direction: column;
	}
	.search-bar{
		width: 100%;
		padding: 0;
	}
	.top-bar-link{
		padding: 20px 0;
		display: flex;
		justify-content:flex-end;
	}
	.fa-shopping-cart{
		font-size: 20px;
	}
}
/*product*/
.product-info{
	flex-wrap: wrap;
	justify-content: flex-start;
}
.product-info>li{
	max-width: 220px;
	height: 280px;
	text-align: center;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	overflow: hidden;
}
.like-icon{
	position: relative;
}
.fa-heart{
	position: absolute;
	left: 10px;
	top: 10px;
	color: #fff;
}
.fa-heart:hover{
	color: #FF5E45;
	cursor: pointer;
}
.product-info>li{
	margin: 20px;
}
.product-info>li>h3{
	font-size: 20px;
	margin-top: 10px;
	line-height: 1.5;
}
.product-info>li>h4{
	font-size: 12px;
	margin-bottom: 30px;
}
.product-info>li>span{
	display: block;
	margin-bottom: 16px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
.product-info>li>button{
	border: 2px solid #FF5E45;
	color: #FF5E45;
	border-radius: 3px;
	width: 200px;
	cursor: pointer;
}
.product-info>li>button:hover{
	background: #FF5E45;
	color: #fff;
}
@media (max-width:568px){
	.product-info{
		display: block;
	}
	.product-info>li{
		max-width: 300px;
		display: block;
		margin: 30px auto;
	}
}
/*--login--*/
.content{
	margin: 50px auto;
}
.logo-title{
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 35px;
}
.logo-title>p{
	padding-top: 5px;
}
.login-box{
	max-width: 300px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	border-top: 5px #F56C23 solid;
	line-height: 1.5;
}
.login-box>h4{
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
}
.login-form>input{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
	padding: 10px 26px;
}
.login-form .fa-envelope{
	color: rgba(61,17,0,0.50);
	position: relative;
	top: 30px;
	left: -110px;
}
.login-form  .fa-lock{
	color: rgba(61,17,0,0.50);
	position: relative;
	top: 30px;
	left: -75px;
}
.login-form>a{
	font-size: 14px;
	color: #FF5E45;
}
.login-form-btn{
	justify-content: space-around;
	margin-top: 30px;
}
.btn_org,.btn_gra{
	color: #fff;
	border-radius: 3px;
	border: none;
	width: 44%;
	font-size: 14px;
	padding: 6px;
	cursor: pointer;
}
.btn_org{
	background: #F56C23;
}
.btn_gra{
	background: rgba(0,0,0,0.35);
}
/*--register--*/
.register-box{
	max-width: 620px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	border-top: 5px #F56C23 solid;
	line-height: 1.5;
}
.register-box-text{
	width: 48%;
	font-size: 18px;
}
.register-form{
	width: 48%;
}
.register-box>h4{
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
}
.regiater-box-content{
	width: 100%;
	justify-content: space-around;
}
.register-form>input{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
	padding: 10px 26px;
}
.register-form>a{
	font-size: 14px;
	color: #FF5E45;
}
.register-form .email-input{
	margin-bottom: 15px;
}
.register-form .fa-envelope,.fa-lock{
	position: relative;
	top: 30px;
	left: 10px;
	color: rgba(61,17,0,0.50);
	width: 16px;
}
.register-form label{
	margin-left: -15px;
}
.register-form-btn{
	display: flex;
	flex-direction: row-reverse;
}
.register-form-btn .btn_org {
	margin-top: 30px;
	margin-left: 60px;
	background: #F56C23;
}
@media (max-width:568px){
	.regiater-box-content{
		flex-direction: column;
	}
	.register-box-text{
		width: 100%;
		margin-bottom: 20px;
	}
	.register-form{
		width: 100%;
	}
}